
#Visual Studio files
Chapter8/.vs/
Chapter8/Debug/
Chapter8/Chapter8*
Chapter9/.vs/
Chapter9/Debug/
Chapter9/Chapter9*
Chapter11/.vs/
Chapter11/Debug/
Chapter11/Chapter11*
Chapter13/.vs/
Chapter13/Debug/
Chapter13/Chapter13*
Chapter14/.vs/
Chapter14/Debug/
Chapter14/Chapter14*